---
- name: Install security packages
  ansible.builtin.apt:
    name:
      - fail2ban
      - ufw
    state: present
- name: Configure Fail2ban
  ansible.builtin.template:
    src: templates/fail2ban.jail.local.j2
    dest: /etc/fail2ban/jail.local
    mode: "0644"
  notify: restart fail2ban
- name: Enable and start Fail2ban
  ansible.builtin.service:
    name: fail2ban
    enabled: true
    state: started
- name: Configure UFW
  block:
    - name: Set default deny policy
      ansible.builtin.command: ufw --force default deny
      register: ufw_status
    - name: Allow SSH
      ansible.builtin.command: ufw allow ssh
      when: "ufw_status.stdout != 'Status: active'"
    - name: Allow HTTP
      ansible.builtin.command: ufw allow http
      when: "ufw_status.stdout != 'Status: active'"
    - name: Allow HTTPS
      ansible.builtin.command: ufw allow https
      when: "ufw_status.stdout != 'Status: active'"
    - name: Enable UFW
      ansible.builtin.command: ufw --force enable
      when: "ufw_status.stdout != 'Status: active'"
- name: Configure sysctl security settings
  ansible.builtin.template:
    src: templates/sysctl-security.conf.j2
    dest: /etc/sysctl.d/99-security.conf
    mode: "0644"
  notify: reload sysctl
- name: Reload sysctl settings
  ansible.builtin.command: sysctl -p /etc/sysctl.d/99-security.conf
  listen: reload sysctl
- name: Disable root login
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: ^PermitRootLogin
    line: PermitRootLogin no
    state: present
  when: security_ssh_disable_root
  notify: restart ssh
- name: Disable password authentication
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: ^PasswordAuthentication
    line: PasswordAuthentication no
    state: present
  when: security_ssh_password_auth is not defined or not security_ssh_password_auth
  notify: restart ssh
- name: Restart SSH service
  ansible.builtin.service:
    name: ssh
    state: restarted
  listen: restart ssh
